.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
	/*border: 2px solid #b6e483;*/
	border: 2px solid #E64848;
	background: #eeeee6;
}

big{
	font-size: 1.2em !important;
}
.ch-info-wrap,
.ch-info{
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;

}

.ch-info-wrap {
	top: 13px;
	left: 13px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow:
		0 0 0 20px rgba(255,255,255,0.2),
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;

	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	background-size: 120px 120px !important;
}

.ch-info .ch-info-back {
	opacity: 0;

	background: #E64848;
	pointer-events: none;

	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);

	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 {
	background-image: url('https://portalaplikasi.batangharikab.go.id/images/simpeg.jpg');
	background-size: 120px 120px;
}

.ch-img-2 {
	background-image: url(../images/e-office.jpg);
}

.ch-img-3 {
	background-image: url(../images/akad.jpg);
}


.ch-img-4 {
	background-image: url(../images/e-lppk.jpg);
}

.ch-img-55 {
	background-image: url(../images/eplanning.jpg);
}

.ch-img-199 {
	background-image: url(../images/i-batanghari.png);
}

.ch-img-sikn {
	background-image: url(../images/sikn.jpg);
}

.ch-img-covid {
	background-image: url(../images/covid.jpg);
}

.ch-img-wbs {
	background-image: url(../images/wbs.jpg);
}

.ch-img-lapordiri {
	background-image: url(../images/lapordiri.jpg);
}


.ch-img-geoportal {
	background-image: url(../images/geoportal.png);
}

.ch-img-193 {
	background-image: url(../images/d-cloud.png);
}
.ch-img-5 {
	background-image: url(../images/akad.jpg);
}


.ch-img-6 {
	background-image: url(../images/sidia2.jpg);
}

.ch-img-7{
	background-image: url(../images/eplanning2.png);
}


.ch-img-88 {
	background-image: url(../images/sikepo.png);
}

.ch-img-8 {
	background-image: url(../images/ppdb.jpg);
}

.ch-img-9 {
	background-image: url(../images/lpse.png);
}

.ch-img-sakip {
	background-image: url(../images/sakip.jpg);
}

.ch-img-11 {
	background-image: url(../images/perizinan.jpg);
}

.ch-img-12 {
	background-image: url(../images/lpse_logo.png);
}


.ch-img-2133 {
	background-image: url(../images/lapor.jpg);
}


.ch-img-2144 {
	background-image: url(../images/sobat.jpg);
}
.ch-img-133 {
	background-image: url(../images/buku-kerja.png);
}

.ch-img-144 {
	background-image: url(../images/simptt.png);
}
.ch-img-90 {
	background-image: url(../images/webmail.jpg);
}

.ch-img-13 {
	background-image: url(../images/sirup.png);
}

.ch-img-22 {
	background-image: url(../images/simaya.png);
}


.ch-img-sipd {
	background-image: url(../images/sipd.png);
	background-size: 120px 120px;
}


.ch-img-sipd-penatausahaan {
	background-image: url(../images/sipd-penatausahaan.png);
	background-size: 120px 120px;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	/*letter-spacing: 2px;*/
	font-size: 14px;
	margin: 0 10px;
	padding: 36px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);

	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	cursor: pointer;
	opacity: 1;
	pointer-events: auto;
}
